In [3]:
import pandas as pd

In [4]:
data_path = 'soccerData.csv'

In [5]:
data_frame = pd.read_csv(data_path)

In [6]:
data_frame

   TEAM       PLAYER    POSITION
0   FCB        Messi     Forward
1   FCB       Suarez     Forward
2   FCB      Grizman     Forward
3   FCB      De Jong  Midfielder
4   FCB    TersTagan  Goalkeeper
5   FCB       Authur  Midfielder
6   FCB       Arthur  Midfielder
7    RM       Hazard     Forward
8    RM         Isco     Forward
9    RM      Binzema     Forward
10   RM      Modrich  Midfielder
11   RM   Toni Kroos  Midfielder
12  PSG       Mbappe     Forward
13   BM     Coutinho     Forward
14   BM       Pavard    Defender
15   BM  Lewandolski     Forward
16   BM         Nuer  Goalkeeper

In [7]:
# head() function return first five rows of data frame
data_frame.head()

  TEAM     PLAYER    POSITION
0  FCB      Messi     Forward
1  FCB     Suarez     Forward
2  FCB    Grizman     Forward
3  FCB    De Jong  Midfielder
4  FCB  TersTagan  Goalkeeper

## Making Data Frame out of Dictionary

In [8]:
team_list = ['FCB', 'RM', 'PSG', 'BM']
player_list = ['messi', 'modric', 'coutinho', 'mbappe']
position_list = ['forward', 'midfielder', 'goalkeeper', 'defender']

In [9]:
dictionary = {
    'TEAMS' : team_list,
    'PLAYERS' : player_list,
    'POSITION' : position_list
}

In [10]:
data_frame_from_dictionary = pd.DataFrame(dictionary)
data_frame_from_dictionary

  TEAMS   PLAYERS    POSITION
0   FCB     messi     forward
1    RM    modric  midfielder
2   PSG  coutinho  goalkeeper
3    BM    mbappe    defender

In [11]:
player_dataFrame = data_frame[['PLAYER']]

In [12]:
Team_Position_DataFrame = data_frame[['TEAM','POSITION']]

In [13]:
## access to unique element using ix() method
## data_frame.ix[0,0]
## it gives ERROR ix[] is deprecated
## new methods are loc[] and iloc[]

In [14]:
data_frame.iloc[0,0]

'FCB'

In [15]:
data_frame.iloc[0,1]

'Messi'

In [16]:
data_frame.iloc[3,1]

'De Jong'

In [17]:
## using name of column
## data_frame.iloc[0,'PLAYER']
## it gives ERROR

In [18]:
data_frame.iloc[0:6, 0:2]

  TEAM     PLAYER
0  FCB      Messi
1  FCB     Suarez
2  FCB    Grizman
3  FCB    De Jong
4  FCB  TersTagan
5  FCB     Authur

In [19]:
## returns unique elements
data_frame['TEAM'].unique()

array(['FCB', 'RM', 'PSG', 'BM'], dtype=object)

In [20]:
## return boolean values
data_frame['POSITION']=='Forward'

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10    False
11    False
12     True
13     True
14    False
15     True
16    False
Name: POSITION, dtype: bool

In [21]:
# save data as csv
# data_frame.to_csv('newFile.csv')
# we can also data frame to other formate

## Diffrence Between ix[] , loc[] and iloc[]

In [22]:
# loc[] used for filtering data using labels. here label means index for rows and names for columns 
# syntax df.loc[row, column]
# df.loc[0, :] = forst row and all columns

In [23]:
data_frame.loc[0, :]

TEAM            FCB
PLAYER        Messi
POSITION    Forward
Name: 0, dtype: object

In [26]:
# 4TH ROW OF COLUMN PLAYER
data_frame.loc[3,'PLAYER']

'De Jong'

In [33]:
# 1 TO 6 ROWS OF COLUMN PLAYER (HERE WE PASS A LIST)
data_frame.loc[[0, 1, 2, 3, 4, 5, 6], 'PLAYER']

0        Messi
1       Suarez
2      Grizman
3      De Jong
4    TersTagan
5       Authur
6       Arthur
Name: PLAYER, dtype: object

In [32]:
# 1 TO 6 ROWS OF COLUMN PLAYER (HERE WE NOT PASSING LIST)
data_frame.loc[0:6, 'PLAYER']

0        Messi
1       Suarez
2      Grizman
3      De Jong
4    TersTagan
5       Authur
6       Arthur
Name: PLAYER, dtype: object

In [36]:
# SELECTING MULTIPLE COLUMNS HERE WE ALSO PASS LIST OF COLUMNS (ALL ROWS OF COLUMN TEAMS= AND PLAYER)
data_frame.loc[:, ['TEAM', 'PLAYER']]

   TEAM       PLAYER
0   FCB        Messi
1   FCB       Suarez
2   FCB      Grizman
3   FCB      De Jong
4   FCB    TersTagan
5   FCB       Authur
6   FCB       Arthur
7    RM       Hazard
8    RM         Isco
9    RM      Binzema
10   RM      Modrich
11   RM   Toni Kroos
12  PSG       Mbappe
13   BM     Coutinho
14   BM       Pavard
15   BM  Lewandolski
16   BM         Nuer

In [37]:
# SELECTING ALL COLUMNS FROM TEAMS TO POSITION
# SELECTING ALL ROWS FROM 0 TO 6 (6TH INCLUDE)
# DO NOT NEED TO PASS LIST
data_frame.loc[0:6, 'TEAM':'POSITION']

  TEAM     PLAYER    POSITION
0  FCB      Messi     Forward
1  FCB     Suarez     Forward
2  FCB    Grizman     Forward
3  FCB    De Jong  Midfielder
4  FCB  TersTagan  Goalkeeper
5  FCB     Authur  Midfielder
6  FCB     Arthur  Midfielder