In [1]:
import numpy as np

## Boolean Array

In [2]:
names = np.array(['shakeel', 'sameer', 'shahid', 'shabbir', 'shakeel', 'yasir', 'shakeel'])
name = 'shakeel'

In [3]:
name == names

array([ True, False, False, False,  True, False,  True])

### case sensitivity

In [5]:
names = np.array(['Shakeel', 'sameer', 'shahid', 'shabbir', 'Shakeel', 'yasir', 'shakeel'])
name = 'shakeel'

In [6]:
name == names

array([False, False, False, False, False, False,  True])

In [7]:
name != 'shakeel'

False

In [8]:
names = np.array(['shakeel', 'sameer', 'shahid', 'shabbir', 'shakeel', 'yasir', 'shakeel'])
name = 'shakeel'

In [9]:
name != names

array([False,  True,  True,  True, False,  True, False])

In [24]:
names = np.array(['shakeel', 'sameer', 'shahid', 'shabbir', 'shakeel', 'yasir', 'shakeel'])
data = np.random.randn(7, 3)

In [25]:
data

array([[-0.45964687, -0.12191607,  0.23576298],
       [ 0.95584249, -2.01721652, -1.64844469],
       [ 0.55789808, -1.08983442,  0.351393  ],
       [-1.08424207, -2.09099903, -1.04169828],
       [ 0.02428849,  1.31440193,  0.59650958],
       [ 0.26628179, -1.17727411,  1.20887479],
       [-1.59566225,  0.52735016, -0.63271875]])

In [26]:
data[names == name]

array([[-0.45964687, -0.12191607,  0.23576298],
       [ 0.02428849,  1.31440193,  0.59650958],
       [-1.59566225,  0.52735016, -0.63271875]])

In [36]:
# selecting row from where names == shakeel and column from 1: onward
data[names == 'shakeel', 1:]

array([[-0.12191607,  0.23576298],
       [ 1.31440193,  0.59650958],
       [ 0.52735016, -0.63271875]])

In [38]:
del(cond)

In [40]:
mask = (names == 'shakeel') | (names == 'shabbir')
mask

array([ True, False, False,  True,  True, False,  True])

In [42]:
data[mask]

array([[-0.45964687, -0.12191607,  0.23576298],
       [-1.08424207, -2.09099903, -1.04169828],
       [ 0.02428849,  1.31440193,  0.59650958],
       [-1.59566225,  0.52735016, -0.63271875]])

In [43]:
data <0

array([[ True,  True, False],
       [False,  True,  True],
       [False,  True, False],
       [ True,  True,  True],
       [False, False, False],
       [False,  True, False],
       [ True, False,  True]])

In [44]:
data[data < 0]

array([-0.45964687, -0.12191607, -2.01721652, -1.64844469, -1.08983442,
       -1.08424207, -2.09099903, -1.04169828, -1.17727411, -1.59566225,
       -0.63271875])

In [45]:
data[data < 0 ] = 0

In [46]:
data

array([[0.        , 0.        , 0.23576298],
       [0.95584249, 0.        , 0.        ],
       [0.55789808, 0.        , 0.351393  ],
       [0.        , 0.        , 0.        ],
       [0.02428849, 1.31440193, 0.59650958],
       [0.26628179, 0.        , 1.20887479],
       [0.        , 0.52735016, 0.        ]])

In [49]:
data[data == 0] = 11

In [50]:
data

array([[1.99000000e+02, 1.99000000e+02, 2.35762979e-01],
       [9.55842491e-01, 1.99000000e+02, 1.99000000e+02],
       [5.57898084e-01, 1.99000000e+02, 3.51393003e-01],
       [1.99000000e+02, 1.99000000e+02, 1.99000000e+02],
       [2.42884923e-02, 1.31440193e+00, 5.96509575e-01],
       [2.66281790e-01, 1.99000000e+02, 1.20887479e+00],
       [1.99000000e+02, 5.27350164e-01, 1.99000000e+02]])

# fancy Indexing

In [56]:
arr = np.empty((8, 4))

In [57]:
for i in range(8):
    arr[i] = i

In [58]:
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [59]:
arr[4]

array([4., 4., 4., 4.])

In [60]:
arr[[4,6,7]]

array([[4., 4., 4., 4.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [63]:
arr[4,0:3]

array([4., 4., 4.])

In [66]:
arr[[4,6], 2:]

array([[4., 4.],
       [6., 6.]])

In [67]:
type(arr)

numpy.ndarray

In [68]:
arr.ndim

2

In [69]:
arr[-1]

array([7., 7., 7., 7.])

In [71]:
arr1 = np.arange(32).reshape((8, 4))

In [72]:
arr1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [75]:
# arr1[1][0]  arr1[5][3] arr1[7][1]
arr1[[1, 5, 7, 2], [0, 3, 1, 2]]

array([ 4, 23, 29, 10])

In [76]:
arr1.ndim

2

In [80]:
arr2 = arr1[:-1,0:]

In [81]:
arr2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27]])

In [82]:
arr1[-8]

array([0, 1, 2, 3])

In [91]:
#arr[][]
arr1[[1, 5, 7, 2]] [:, [0, 3, 1, 2]]
# 1[0,3,1,2] = (1,0) (1,3) (1,1) (1,2)

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

# Transposing and swapping axis

In [87]:
trr = np.arange(15).reshape((3, 5))

In [88]:
trr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [90]:
# convert rows into column
trr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [92]:
x = np.random.randn(8)

In [93]:
x

array([ 1.50003349, -1.92922238,  0.27504769, -0.36076098, -1.33983174,
        0.9947989 ,  0.78285863, -1.00331627])

In [94]:
y = np.random.rand(8)

In [95]:
y

array([0.09642712, 0.89274863, 0.40985033, 0.3368927 , 0.00899273,
       0.571863  , 0.32716683, 0.51502789])

In [99]:
# np.max(x, y)

In [100]:
reminder, whole_part = np.modf(arr)

In [101]:
reminder

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [102]:
whole_part

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

# Array Oriented Programming with Arrays

In [103]:
10/0.01

1000.0

In [105]:
points = np.arange(-5, 5, 0.01) # 1000 values

In [115]:
#np.meshgrid(points)

In [116]:
#axis=1 column
#axis = 0 rows

In [117]:
#cumulative sum

In [118]:
# STANDARD DERIVATION how much close to MEAN

In [119]:
names = ['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']

In [120]:
names = set(names)

In [121]:
names

{'Bob', 'Joe', 'Will'}

In [122]:
#arr = np.arange(24)
#arr.reshape(4, -1)
#4 rows 4*6 columns

In [124]:
# Understanding axis=0 0r axis=1
# np.concatinate([arr1, arr2], axis=0) adding rows
# alternate np.vstack(arr1, arr2) np.hstack(arr1, arr2)

In [125]:
# np.vspilit(3, axis=0)
#brodcasting

(19, 16, 54)